<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        {{#each studentsList}}
            <span>{{this.surname}}&nbsp;{{this.name}}&nbsp;{{this.midname}}&nbsp;|&nbsp;{{this.grade}}</span>&nbsp;|&nbsp;<span>{{this.rating}}</span><br>
        {{/each}}
    </body>
</html>